.button {
  background-color: #0b1f16;
  color: rgb(255, 255, 255);
  font-weight: bold;
  padding: 0px 0px;
  margin: 0px 0;
  border-radius: 0.25rem;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 1;
  height: 30px;
  width: 150px;
}

.container {
  color: #fff;
  height: 100%;
  width: 80%;
  margin: auto;
  margin-top: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
