.card-container {
  color: #fff;
  height: 100%;
  width: 50%;
  margin: auto;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.cards-root {
  min-width: 20%;
  /* margin: 0; */
}
