*,
*::before,
::after {
  box-sizing: border-box;
}
body {
  background-color: #f3f3f3;
  margin: 0;
}

.contain .ql-editor {
  /* max-width: 100%; */
  width: 7.5in;
  min-height: 11in;
  padding: 1in;
  margin: 1rem;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 1);
  background-color: white;
}

.contain .ql-container.ql-snow {
  border: none;
  display: flex;
  justify-content: center;
}

.contain .ql-toolbar {
  display: flex;
  justify-content: center;
  position: sticky;
  top: 2.5rem;
  background-color: #f3f3f3;
  z-index: 1;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 1);
}

/* Set content for font-families */
.ql-font-arial,
.ql-font span[data-value='arial']::before {
  font-family: Arial, sans-serif;
}
.ql-font-comic-sans,
.ql-font span[data-value='comic-sans']::before {
  font-family: 'Comic Sans MS', cursive, sans-serif;
}
.ql-font-courier-new,
.ql-font span[data-value='courier-new']::before {
  font-family: 'Courier New';
}
.ql-font-georgia,
.ql-font span[data-value='georgia']::before {
  font-family: Georgia, serif;
}
.ql-font-helvetica,
.ql-font span[data-value='helvetica']::before {
  font-family: Helvetica, sans-serif;
}
.ql-font-lucida,
.ql-font span[data-value='lucida']::before {
  font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
}

/* Set content for sizes */
.ql-size-extra-small,
.ql-size span[data-value='extra-small']::before {
  font-size: 13px !important;
}
.ql-size-small,
.ql-size span[data-value='small']::before {
  font-size: 14px !important;
}
.ql-size-medium,
.ql-size span[data-value='medium']::before {
  font-size: 18px !important;
}
.ql-size-large,
.ql-size span[data-value='large']::before {
  font-size: 20px !important;
}

@page {
  margin: 1in;
}

@media print {
  body {
    background: none;
  }
  .contain .ql-editor {
    margin-top: 2rem;
    width: 6.5in;
    min-height: 9in;
    padding: 0in;
    margin: 0rem;
    box-shadow: none;
    align-self: flex-start;
  }
  .contain .ql-toolbar.ql-snow {
    display: none;
  }
}
